<h2>List All Posts</h2>

<div *ngFor="let post of posts" class="post-card">
  <div class="category-list">
    <p
      *ngFor="let category of post.categories"
      class="category-item"
      [style.background-color]="category.css_color"
    >
      {{ category.title }}
    </p>
  </div>

  <h2>Title: {{ post.title }}</h2>
  <h3>Description: {{ post.description }}</h3>

  <p>Likes: {{ post.num_likes }}</p>
  <p>Dislikes: {{ post.num_dislikes }}</p>

  <p>Publication date: {{ post.publication_date | formatDate: 3 }}</p>
  <p>Published by: {{ post.userAlias }}</p>

  <div *ngIf="showButtons" class="action-btn">
    <button (click)="like(post.postId)">Like</button>
    <button (click)="dislike(post.postId)">Dislike</button>
  </div>
</div>
