.post-card {
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.category-item {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: white;
}

.action-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
